mat-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;

  mat-divider {
    margin-left: 15px;
    margin-right: 15px;
  }

  mat-card-title,
  mat-card-subtitle  {
    margin: 0px;
  }


  mat-card-title {
    font-weight: 400;
  }

  mat-card-subtitle {
    letter-spacing: 1px;
    font-weight: lighter;
  }
}
