.snackbar-default {
    color: #fff;
}

.success-snackbar {
    background: var(--bs-purple);
}

.error-snackbar {
    background: var(--bs-danger);
}

.warning-snackbar {
    background: var(--bs-warning);
}

.info-snackbar {
    background: var(--bs-primary);
}

