.mat-list-avatar {
    background-color: #fff;
    color: var(--bs-purple);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;

    &.add {
        border: 2px white dashed;
        background-color: transparent;
    }
}