mat-drawer-container {
  height: 100vh;

  .mat-drawer-side {
    border: none !important;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  }

  mat-progress-bar {
    margin-top: -2px;
    transition: all ease 2s;
    height: 2px;
  }
}

main {
  padding: 15px;

  mat-card {
    height: 100%;
  }
}


