<breadcrumb [params]="params"></breadcrumb>

<container>
  <h3>Widgets</h3>
  <hr/>

  <div class="bloco">
    <p>Para cadastrar: descrição até 15 caracteres, icone, cor, value: se é dinheiro, texto ou número.</p>
  <p>Para editar: lista de todos as Widgets permitindo mudar a ordem e seus valores e tb excluir</p>
  </div>

  <h3>Tema</h3>
  <hr/>

  <div class="bloco">
    <p>Permitir trocar as cores do sistema, pensar em  3 cores padrões</p>
    <p>Pensar em 3 quadradinhos para mostrar a cor selecionada e ao clicar abrir a seleção de cores</p>
    <p>Já possui nativo do html</p>
  </div>

  <h3>Notificações</h3>
  <hr/>

  <div class="bloco">
    <p>Se quer ou não que notifique e quais as notificações tem.</p>
    <p>Criar uma lista com checkboxs</p>
  </div>
</container>
