<breadcrumb [params]="params"></breadcrumb>

<container>
  <ul class="list-group list-group-flush">
    <ng-container *ngFor="let item of metas">
      <li class="list-group-item  text-white bg-transparent">
        <p class="mb-1">{{item.title}}</p>
        <div class="progress" style="height: 8px;">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-label="Info example" [style.width.%]="item.percent" aria-valuenow="{{item.percent}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <small class="text-light">{{item.percent}}% of required to be complety</small>
      </li>
    </ng-container>
  </ul>
</container>
